# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\教程\算法导论资料\Python实现\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
